@page "/users"
@using lib;
@using System.Collections.Generic;

@code
{
     protected override void OnInitialized()
     {
          if (players.playerBase.Count <= 1)
          {
               UserPageNavigation.singleUser = true;
               UserPageNavigation.playerSelection = 0;
               UserPageNavigation.options = true;
          }
          if (players.playerBase.Count > 1)
          {
               UserPageNavigation.singleUser = false;
               UserPageNavigation.options = false;
          }
     }
}
@if (!UserPageNavigation.singleUser)
{
     <h1>Users</h1>
     foreach (playerData user in players.playerBase)
     {
          <p>@user.playerCode) @user.userName </p>
     }
     <p></p>
     <input type='text' @bind='UserPageNavigation.thing'>
     <p>@UserPageNavigation.error</p>
     <p>Enter the user number to select the user</p>
     <button @onclick='UserPageNavigation.select'>Select user</button>
}
@if (UserPageNavigation.singleUser)
{
     foreach (playerData user in players.playerBase)
     {
          if (user.playerCode == UserPageNavigation.playerSelection)
          {
               <h1>@user.userName</h1>
               if (UserPageNavigation.options)
               {
                    if (user.gamecount > 0)
                    {
                         <button @onclick='UserPageNavigation.show'>Show all games</button>
                    }
                    <p></p>
                    <button @onclick='UserPageNavigation.singleMove'>Add game move at a time</button>
                    <p></p>
                    <button @onclick='UserPageNavigation.entireMove'>Add entire game</button>
               }
               if (UserPageNavigation.gameShow)
               {
                    <p>Showing all @user.userName's games</p>
                    for (int i = 0; i < user.gamecount; i++)
                    {
                         <p>@user.getGameAt(i)</p>
                         <p></p>
                    }
                    <button @onclick='UserPageNavigation.backToSingleUser'>Back to user menu</button>
               }
               if (UserPageNavigation.moveByMove)
               {
                    <input type='text' @bind='UserPageNavigation.thing'>
                    <p>@UserPageNavigation.error</p>
                    <button @onclick='UserPageNavigation.oneMove'>Enter move</button>
                    <p></p>
                    if (user.currentGame.Count > 0)
                    {
                         <button @onclick='UserPageNavigation.appendGame'>Game finished</button>
                    }
                    <p></p>
                    <button @onclick='UserPageNavigation.backToSingleUser'>Back to user menu</button>
               }
               if (UserPageNavigation.entireGame)
               {
                    <p>Enter the entire game into the text box</p>
                    <p></p>
                    <input type='text' @bind='UserPageNavigation.thing'>
                    <p>@UserPageNavigation.error</p>
                    <button @onclick='UserPageNavigation.appendWholeGame'>Add game</button>
                    <p></p>
                    <button @onclick='UserPageNavigation.backToSingleUser'>Back to user menu</button>
               }
          }
     }
     <p></p>
     <button @onclick='UserPageNavigation.hide'>Show all users</button>
}
<p></p>
@if (UserPageNavigation.gameadd)
{
     <button @onclick='UserPageNavigation.noNewGame'>Save new playerdata</button>
}