@page "/users"
@using lib;
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components

@code
{
     protected override void OnInitialized()
     {
          if (Players.PlayerBase.Count <= 1)
          {
               UserPageNavigation.ShowSingleUser = true;
               UserPageNavigation.SelectedPlayer = 0;
               UserPageNavigation.ShowNavButtons = true;
          }
          if (Players.PlayerBase.Count > 1)
          {
               UserPageNavigation.ShowSingleUser = false;
               UserPageNavigation.ShowNavButtons = false;
          }
     }
     public void home()
     {
          UserPageNavigation.ErrorMessage = "";
          NavManager.NavigateTo("/");
     }
}
@if (PlayerData.TotalUserCount > 0)
{
     if (!UserPageNavigation.ShowSingleUser)
     {
          <h1>Users</h1>
          foreach (PlayerData user in Players.PlayerBase)
          {
               <p>@user.PlayerCode) @user.UserName </p>
          }
          <p>Enter the user number to select the user</p>
          <input type='text' @bind='UserPageNavigation.UserInput'>
          <p></p>
          <p>@UserPageNavigation.ErrorMessage</p>
          <button @onclick='UserPageNavigation.select'>Select user</button>
     }
     if (UserPageNavigation.ShowSingleUser)
     {
          foreach (PlayerData user in Players.PlayerBase)
          {
               if (user.PlayerCode == UserPageNavigation.SelectedPlayer)
               {
                    <h1>@user.UserName</h1>
                    if (UserPageNavigation.ShowNavButtons)
                    {
                         if (user.GameCount > 0)
                         {
                              <button @onclick='UserPageNavigation.show'>Show all games</button>
                         }
                         <p></p>
                         <button @onclick='UserPageNavigation.singleMove'>Add game move at a time</button>
                         <p></p>
                         <button @onclick='UserPageNavigation.entireMove'>Add entire game</button>
                    }
                    if (UserPageNavigation.GameShow)
                    {
                         <p>Showing all @user.UserName's games</p>
                         for (int i = 0; i < user.GameCount; i++)
                         {
                              <p>@user.GetGameAt(i)</p>
                              <p></p>
                         }
                         <button @onclick='UserPageNavigation.backToSingleUser'>Back to user menu</button>
                    }
                    if (UserPageNavigation.AddGameMoveByMove)
                    {
                         <input type='text' @bind='UserPageNavigation.UserInput'>
                         <p>@UserPageNavigation.ErrorMessage</p>
                         <button @onclick='UserPageNavigation.oneMove'>Enter move</button>
                         <p></p>
                         if (user.CurrentGame.Count > 0)
                         {
                              <button @onclick='UserPageNavigation.appendGame'>Game finished</button>
                         }
                         <p></p>
                         <button @onclick='UserPageNavigation.backToSingleUser'>Back to user menu</button>
                    }
                    if (UserPageNavigation.AddEntireGame)
                    {
                         <p>Enter the entire game into the text box</p>
                         <p></p>
                         <input type='text' @bind='UserPageNavigation.UserInput'>
                         <p>@UserPageNavigation.ErrorMessage</p>
                         <button @onclick='UserPageNavigation.appendWholeGame'>Add game</button>
                         <p></p>
                         <button @onclick='UserPageNavigation.backToSingleUser'>Back to user menu</button>
                    }
               }
          }
          <p></p>
          if (Players.PlayerBase.Count > 1)
          {
               <button @onclick='UserPageNavigation.hide'>Show all users</button>
          }
     }
}
else
{
     <p>There aren't any users right now. Please return to the home page and enter a user.</p>
}
<p></p>
<button @onclick='home'>Home</button>